---
import { Image } from "astro:assets";
import bgicon from "../assets/bgicon.png";
---

<div class="container">
  <div class="icon-container">
    <div class="static-icon"><Image src={bgicon} alt="" /></div>
  </div>
  <div class="icon-container">
    <div class="dynamic-icon" id="dynamic-icon">
      <Image src={bgicon} alt="" />
    </div>
  </div>
</div>

<style>
  .container {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
  }
  /* .icon-container {
    overflow: hidden;
  } */
  .static-icon {
    height: 80%;
    flex: 1;
    aspect-ratio: 1;
    margin: 10px;
    opacity: 0.5;
    
  }
  .static-icon > img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
  .dynamic-icon {
    height: 80%;
    flex: 1;
    margin: 10px;
    animation: slide-down 3s linear infinite;
  }
  .dynamic-icon > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @keyframes slide-down {
    0% {
      transform: translateY(-200%) rotate(-90deg);
      opacity: 0;
    }
    10% {
      transform: translateY(-200%) rotate(-90deg);
      opacity: 0;
    }
    40% {
      transform: translateY(0%) rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: translateY(0%) rotate(0deg);

    }
    60% {
      transform: translateY(0%) rotate(0deg);
      opacity: 1;
    }
    90% {
      transform: translateY(200%) rotate(90deg);
      opacity: 0;
    }
    100% {
      transform: translateY(200%) rotate(90deg);
      opacity: 0;
    }
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const dynamicContainer = document.getElementById("dynamic-icon");
    // const images = [
    //   bgicon,
    //   bgicon,
    //   bgicon,
    // ];
    // let currentImageIndex = 0;
    let flag = 0;
    var maximum = 0;
    function changeBackground() {
      var style = window.getComputedStyle(dynamicContainer);
      var matrix = new WebKitCSSMatrix(style.transform);
      if (flag === 0) {
        if (matrix.m42 === -maximum && matrix.m42 !== 0) {
          flag = 1;
        }
        maximum = Math.max(matrix.m42, maximum);
      } else {
        if (matrix.m42 === maximum) {
          console.log("changing background", maximum);
          // write code to change image here
        }
      }
      setTimeout(changeBackground, 1);
    }

    changeBackground();
  });
</script>
